.container {
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
}

.container__header {
    border: 1px solid #ededed;
    font-size: 25px;
    font-weight: bold;
    margin: 0px;
    padding: 25px;
}

.container__form {
    border: 1px solid #ededed;
    padding: 25px 25px 15px;
    display: block;
}

.container__form-input {
    width: 75%;
    height: 42px;
    margin: 0px 15px 10px 0px;
    border: 1px solid #ededed;
    padding: 10px;
    font-size: 18px;
}

.container__form-button {
    border: 1px solid #ededed;
    background-color: #1d6985;
    color: #ffffff;
    padding: 10px;
    width: 20%;
    height: 42px;
}

.container__form-button:focus{
    border: 1px solid #000000;
}

@media (max-width: 700px) {
    .container__form-input{
        width: 100%;
    }
    .container__form-button{
        width: 100%;
    }
}

.container__list {
    border: 1px solid #ededed;
    margin: 0;
    list-style-type: none;
    padding: 40px 20px 0px;
}

.container__listItem {
    padding: 15px 0px;
    font-family: Lato, sans-serif;
    border-bottom: 1px solid #ededed;
    display: grid;
    grid-template-columns: 58px auto 58px;
}

.container__gridElement {
    display: flex;
    align-items: center;
}

.container__listTask--done {
    text-decoration: line-through;
}

.container__listButton {
    justify-content: center;
    max-height: 34px;
    border: none;
    background-color: #008000;
    color: transparent;
    padding: 5px 7px;
    font-size: 25px;
    cursor: pointer;
    margin: 0px 10px;
    text-decoration: none;
}

.container__listButton:hover {
    background-color: #006600;
}

.container__listButton--done {
    color: #ffffff;
}

.container__listButton--remove {
    background-color: #ff0000;
    color:#ffffff;
}

.container__listButton--remove:hover {
    background-color: #b70202;
}